/* General Styles */
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar Styles */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer Styles */
.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin: 0 10px; /* add spacing between Privacy & Terms */
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  margin: 0 0.5rem; /* even spacing */
  font-size: 1.2rem;
  cursor: pointer;
}

.f-info {
  text-align: center;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

/* ===========================
     CARD STYLING
  ============================ */
.listing-link {
  text-decoration: none;
  color: inherit;
}

.listing-card {
  border: none;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.listing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.listing-card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.listing-card .card-body {
  background: #fff;
  padding: 1rem;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text b {
  font-size: 1.1rem;
  color: #333;
}

.tax-info {
  color: #888;
  font-size: 0.85rem;
  white-space: nowrap;
}

/* New Listing Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Listing Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* takes full height minus navbar/footer */
}
